input {
    border: 2px solid grey;
    width: 30%;
    padding: 12px 20px;
    margin-top: 120px;
    margin-bottom: 10px;
    border-radius: 7px;

}
button {
    background-color: blue;
    color: white;
    border: 2px solid black;
    width: 15%;
    height: 20%;
    border-radius: 20px;
}
textarea {
    border: 2px solid grey;
    padding: 12px 20px;
    margin: 12px 0;
    border-radius: 7px;
    min-height: 100px;
    max-height: 500px;
    min-width: 30%;
    max-width: 60%;
}
.container {
    text-align: center;
}
.invalid {
    border-color: red;
}
.bledy {
    color: red;
}